---
import BaseLayout from "@layouts/BaseLayout.astro";
import Hero from "@/components/sections/Hero.astro";
import Footer from "@/components/sections/Footer.astro";

const {
  pageTitle = "",
  acfTitle = "",
  acfDescription = "",
} = Astro.props;
---

<BaseLayout pageTitle={pageTitle}>
  <Hero 
    titleHero={acfTitle} 
    descriptionHero={acfDescription} 
  />
  <slot name="header">
    <h1>{acfTitle}</h1>
    <p>{acfDescription}</p>
  </slot>


  <slot />

  <!-- Slot para footer o secciones finales -->
  <slot name="footer" />

</BaseLayout>
