---
import PageLayout from "@layouts/PageLayout.astro";
import WhatWeDo from "@templates/WhatWeDo.astro";
import WhoWeAre from "@templates/WhoWeAre.astro";
import EuropeanOpportunities from "@templates/EuropeanOpportunities.astro";
import Legal from "@templates/Legal.astro";

import { getPatterns } from "@/libs/apiWPPods";

import { getAllSlugPages, getPageBySlug } from "@/libs/apiWPPods";
export async function getStaticPaths() {
  const slugs = await getAllSlugPages({ lang: "es" });
  console.log(slugs);
  return slugs.map((slug) => ({ params: { slug }, props: { lang: "es" } }));
}
const footerPatternSlug = "pie-de-pagina";

const { slug } = Astro.params;
const { lang } = Astro.props;

const [page, footerData] = await Promise.all([
  getPageBySlug(slug, lang),
  getPatterns(footerPatternSlug, lang),
]);

if (!page) return Astro.redirect("/404");

const {
  pageTitle,
  heroTitle,
  heroDescription,
  heroImage,
  introTitle,
  introDescription,
  highlightTitle,
  highlightDescription,
  buttonText,
  linkHighlightButton,
  contentBlocks,
  serviceCards,
  programmeCards,
  legalContent,
} = page;

console.log("Esto es el slug: ", page);
---

<PageLayout
  lang="es"
  pageTitle={pageTitle}
  heroTitle={heroTitle}
  heroDescription={heroDescription}
  dotHero={heroImage}
  slug={slug}
  footerData={footerData}
>
  {
    slug === "que-hacemos" && (
      <div slot="que-hacemos">
        <WhatWeDo
          introTitle={introTitle}
          introDescription={introDescription}
          serviceCards={serviceCards}
        />
      </div>
    )
  }

  {
    slug === "quienes-somos" && (
      <div slot="quienes-somos">
        <WhoWeAre contentBlocks={contentBlocks} />
      </div>
    )
  }

  {
    slug === "oportunidades-europeas" && (
      <div slot="oportunidades-europeas">
        <EuropeanOpportunities
          programmeCards={programmeCards}
          highlightTitle={highlightTitle}
          highlightDescription={highlightDescription}
          buttonText={buttonText}
          linkHighlightButton={linkHighlightButton}
        />
      </div>
    )
  }

  {
    (slug === 
      "aviso-legal" ||
      "politica-de-privacidad" ||
      "politica-de-cookies") && (
      <div slot="legal">
        <Legal legalContent={legalContent} />
      </div>
    )
  }
</PageLayout>
