---
import BaseLayout from "@layouts/BaseLayout.astro";
import Hero from "@/components/sections/Hero.astro";
import Intro from "@/components/sections/Intro.astro";
import Counter from "@/components/sections/Counter.astro";
import ServiceCards  from "@components/sections/ServiceCards.astro";
import BlogCards from "@/components/sections/BlogCards.astro";
import Footer from "@/components/sections/Footer.astro";
import "@styles/global-styles.css";


import { homePageContent } from "@utils/data/homePage";

const { hero, intro, services, features, counter, posts, footer} = homePageContent;
---

<BaseLayout>
  <Hero titleHero={hero.title} />
  <main>
  <Intro titleIntro={intro?.title}/>
  <ServiceCards services={services} features={features}/>
  <Counter titleCounter={counter.title}/>
  <BlogCards posts={posts} />


  </main>
  <Footer
    titleFooter={footer.title}
    contactFooter={footer.contactFooter}

  />
</BaseLayout>

<style>
  main {
    margin-block: 150px;
    display: flex;
    flex-direction: column;

    max-inline-size: 100%;
    gap: 100px;
  }


</style>
