---
import BaseLayout from "@layouts/BaseLayout.astro";
import Hero from "@/components/sections/Hero.astro";
import Intro from "@/components/sections/Intro.astro";
import Card from "@/components/Card.astro";
import Button from "@/components/Button.astro";
import Counter from "@/components/sections/Counter.astro";
import BlogCards from "@/components/sections/BlogCards.astro";
import Footer from "@/components/sections/Footer.astro";

import "@styles/global-styles.css";


import { pagesInfo, getAllServices } from "@libs/wp.ts"

const { pageSlug, title, introTitle } = await pagesInfo("inicio");
const services = await getAllServices({perPage: 4})

import { homePageContent } from "@utils/data/homePage";
const { features, counter, posts, footer} = homePageContent;
---

<BaseLayout>
  <Hero titleHero={title} />
  <main>
  <Intro titleIntro={introTitle}/>

  <article class="section__cards">
  <section class="inner section__cards__wrapper">
    {
      services.map((service:any) => (
        <Card
          id={service.id}
          title={service.title}
          description={service.excerpt}
          buttonText={service.buttonText}
          url={service.urlService}
          target={service.targetService}
        

        />
      ))
    }
  </section>
<div class="inner">
    <h2>{features[0].title}</h2>
    <Button buttonText={features[0].buttonText} />
  </div>
</article>

  <Counter titleCounter={counter.title}/>
  <BlogCards posts={posts} />
  </main>
  <Footer
    titleFooter={footer.title}
    contactFooter={footer.contactFooter}
  />
</BaseLayout>

<style>
  main {
    margin-block-end: var(--space-block);
    display: flex;
    flex-direction: column;

    max-inline-size: 100%;
    gap: var(--space-block);
  }

   .section__cards {
    display: flex;
    flex-direction: column;
    gap: var(--space-block);
  }
  .section__cards__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    gap: 2rem;

    > .card:nth-child(1) {
      background-color: var(--color-contrast-2);
    }

    > .card:nth-child(2) {
        background-color: var(--color-accent);
    }

    > .card:nth-child(3) {
        background-color: var(--color-contrast-1);
    }

    > .card:nth-child(4) {
        border: solid 2px var(--color-contrast-2);
        background-color: var(--color-base);
        > h3 {
          color: var(--color-contrast-2);
        }
        > span {
          color: var(--color-contrast-2);
        }

        > a {
          border: solid 2px var(--color-contrast-2);
        }
        
    }


  }

  div {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h2 {
      font-size: var(--fontSize-x-large);
      color: var(--color-contrast-2);
      max-inline-size: 16ch;
    }

  }
  @media (width < 480px) {
      .section__cards__wrapper { 
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
      }
    }


</style>
