---
import PageLayout from "@layouts/PageLayout.astro";
import WhatWeDo from "@templates/WhatWeDo.astro";
import WhoWeAre from "@templates/WhoWeAre.astro";
import EuropeanOpportunities from "@templates/EuropeanOpportunities.astro";

import { getPatterns } from "@/libs/apiWPPods";

import { getAllSlugPages, getPageBySlug } from "@/libs/apiWPPods";
export async function getStaticPaths() {
  const slugs = await getAllSlugPages({ lang: "en" });
  return slugs.map((slug) => ({ params: { slug }, props: { lang: "en" } }));
  
}
const footerPatternSlug = "footer";

const { slug } = Astro.params;
const { lang } = Astro.props;

const [page, footerData] = await Promise.all([
  getPageBySlug(slug, lang),
  getPatterns(footerPatternSlug, lang)
]);

if (!page) return Astro.redirect("/en/404");

const {
  pageTitle,
  heroTitle,
  heroDescription,
  heroImage,
  introTitle,
  introDescription,
  highlightTitle,
  highlightDescription,
  buttonText,
  linkHighlightButton,
  contentBlocks,
  serviceCards,
  programmeCards,
} = page;
---

<PageLayout
  lang="en"
  pageTitle={pageTitle}
  heroTitle={heroTitle}
  heroDescription={heroDescription}
  dotHero={heroImage}
  slug={slug}
  footerData={footerData}
>

  {
    slug === "what-we-do" && (
      <div slot="que-hacemos">
        <WhatWeDo
          introTitle={introTitle}
          introDescription={introDescription}
          serviceCards={serviceCards}
        />
      </div>
    )
  }

  {
    slug === "who-we-are" && (
      <div slot="quienes-somos">
        <WhoWeAre contentBlocks={contentBlocks} />
      </div>
    )
  }

  {
    slug === "european-opportunities" && (
      <div slot="oportunidades-europeas">
        <EuropeanOpportunities
          programmeCards={programmeCards}
          highlightTitle={highlightTitle}
          highlightDescription={highlightDescription}
          buttonText={buttonText}
          linkHighlightButton={linkHighlightButton}
        />
      </div>
    )
  }
</PageLayout>
