---
import PageIndexLayout from "@layouts/PageIndexLayout.astro";
import Intro from "@/components/Intro.astro";
import Counter from "@/components/Counter.astro";
import BlogCards from "@/components/BlogCards.astro";
import Card from "@ui/Card.astro";
import Button from "@ui/Button.astro";

import '@styles/index-style.css'

import { getPageBySlug, getAllSlugPosts, getPostBySlug } from "@/libs/apiWP";

const slugIndex = "home"
const lang = "en"
const page = await getPageBySlug(slugIndex, lang)
console.log(page)

const slugsPost = await getAllSlugPosts({ perPage: 3, lang: lang });

const slugPost = await Promise.all(
  slugsPost.map((slug: string) => getPostBySlug(slug, lang))
);

---

<PageIndexLayout 
  lang="en"
  pageTitle="Ember Projects"
  heroTitle={page?.heroTitle}
  heroDescription={page?.heroDescription}
  dotHero={page?.heroImage}
  slug={slugIndex}  
>
  <main>
    <Intro introTitle={page?.introTitle} />
    <article class="section__cards">
      <section class="inner section__cards__wrapper">
        {
          page?.serviceCards?.map((service: any) => (
            <Card
              id={service.serviceId}
              title={service.serviceName}
              description={service.serviceExcerpt}
              buttonText={service.serviceButton.buttonText}
              url={service.serviceButton.buttonHref}
              target={service.serviceButton.buttonTarget}
            />
          ))
        }
      </section>
      <div class="inner">
        <h2 class="split">{page?.sectionTitle}</h2>
        <Button
          buttonText={page?.sectionButton?.buttonText ?? ""}
          href={page?.sectionButton?.buttonHref}
          target={page?.sectionButton?.buttonTarget}
        />
      </div>
    </article>
    <Counter
      titleCounter={page?.counterTitle}
      projectCounter={page?.numberProjects}
    />
        <BlogCards posts={slugPost} />
  </main>
</PageIndexLayout>

<style>
</style>
