---
import PageIndexLayout from "@layouts/PageIndexLayout.astro";
import Intro from "@components/Intro.astro";
import Counter from "@components/Counter.astro";
import BlogCards from "@components/BlogCards.astro";
import Card from "@ui/Card.astro";
import Button from "@ui/Button.astro";

import "@styles/index-style.css";

import { getPageBySlug, getAllSlugPosts, getPatterns} from "@/libs/apiWPPods";

const pageSlug = "home";
const patternSlug = "footer";
const lang = "en";

const [page, posts, footerData] = await Promise.all([
  getPageBySlug(pageSlug, lang),
  getAllSlugPosts({ perPage: 3, lang: lang }),
  getPatterns(patternSlug, lang) 
]);
---

<PageIndexLayout
  lang={lang}
  pageTitle="Ember Projects"
  heroTitle={page?.heroTitle}
  heroDescription={page?.heroDescription}
  dotHero={page?.heroImage}
  slug={pageSlug}
  footerData = {footerData}
>
  <main>
    <Intro introTitle={page?.introTitle} />
    <article class="section__cards">
      <section class="inner section__cards__wrapper">
        {
          page?.serviceCards?.map((service: any) => (
            <Card
              id={service.idName}
              title={service.serviceTitle}
              description={service.shortDescriptionService}
              buttonText="See more"
              url={service.linkService}
              target="_self"
            />
          ))
        }
      </section>
      <div class="inner">
        <h2 class="split">{page?.highlightTitle}</h2>
        <Button
          buttonText={page?.buttonText}
          href={page?.linkHighlightButton}
          target="_self"
        />
      </div>
    </article>
    <Counter
      titleCounter={page?.counterTitle}
      projectCounter={page?.numberProjects}
    />
    <BlogCards posts={posts} />
  </main>
</PageIndexLayout>